/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--font-family);
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-color, #000028);
}

.header,
.footer {
  display: grid;
  block-size: 100vh;
  padding: 10px;
  min-height: 668px;
}

.header {
  grid-template-rows: 35% auto 35%;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  border-block-start: 1px solid var(--nav-decorate-color);
  border-inline-end: 1px solid var(--nav-decorate-color);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  border-block-end: 1px solid var(--nav-decorate-color);
  border-inline-start: 1px solid var(--nav-decorate-color);
  bottom: 10px;
  left: 10px;
}

.header__decor {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color);
  text-transform: uppercase;
  font-family: var(--font-family); 
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 25px;
  visibility: var(--decor);
}

.header__decor::after {
  content: '';
  top: 9px;
  right: -19px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}


.header__theme-menu {
  padding-block-start: 10px;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-button {
  font-size: var(--font-size);
  font-weight: 400;
  padding: 0 13px;
  border: none;
  background-color: inherit;
  line-height: 100%;
  color: var(--nav-decorate-color);
  cursor: pointer;
  font-family: var(--font-family); 
  margin-block-end: 10px;
  min-height: 26px;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--nav-decorate-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--nav-decorate-color);
}

.header-title,
.footer-title {
  font-size: var(--accent-font-size);
  color: var(--title-color);
  line-height: 82.5%;
  font-weight: 700;
  justify-self: start;
  align-self: center;
}

.header-title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.subtitle {
  justify-self: end;
  align-self: center;
  inline-size: 100%;
}

.header-text {
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 130%;
  width: 100%;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.main {
  display: grid;
  gap: 50px; 
  padding: 40px 10px;
}

.section__title {
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 130%;
  padding: 0 0 20px;
  color: var(--nav-decorate-color);
}

.card-title {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 130%;
}

.card-text {
  font-size: var(--font-size);
  line-height: 130%;
  padding-block-start: 10px;
  color: var(--text-color);
}

.text__link {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
  cursor: pointer;
}

.text__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.text__link:focus {
  outline: none;
}

.text__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.main__list {
  display: grid;
  gap: var(--gap);
}

.section__list-box .main__list {
  padding-block-start: 20px;
}

.card__title-list {
  font-weight: 400;
}

.main__gallery {
  display: grid;
  gap: 10px;
  padding-block-start: 10px;
}

.card {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.footer-title {
  padding: 1px 0 0 4px;
  text-shadow: 2px 2px 0 var(--accent-color);
}


@media (1023px >= width >= 768px) {
  .section__why,
  .section__how {
    grid-template-columns: 1fr 2fr;
  }
}


@media (width >= 768px) {
  .header {
    grid-template-rows: 1fr auto 1fr;
  }

  .header,
  .footer {
    padding: 20px;
  }

  .header-title {
    margin-inline-start: -20px;
  }

  .subtitle {
    inline-size: 50%;
  }

  .header__decor {
    top: 20px;
    right: 48px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .main {
    padding: 60px 20px;
    gap: 80px;
  }

  .main__gallery {
    padding-block-start: 20px;
    gap: var(--gap);
    grid-template-columns: repeat(3, 1fr);
  }

  .section__what 
  .section__title {
    inline-size: 30%;
  }

  .section__why,
  .section__how {
    display: grid;
    gap: var(--gap);
  }

  .main__gallery-item:nth-child(1) {
    grid-row: 1;
    grid-column: 1/3;
  }

  .main__gallery-item:nth-child(2) {
    grid-row: 1/3;
    grid-column: 3;
  }

  .main__gallery-item:nth-child(3) {
    grid-row: 2/4;
    grid-column: 1;
  }

  .main__gallery-item:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
  }

  .main__gallery-item:nth-child(5) {
    grid-row: 3;
    grid-column: 2/4;
  }

  .footer-title {
    justify-self: center;
    align-self: center;
    padding: 0;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding: 0;
  }
  
  .header__theme-menu-list {
    display: flex;
    gap: 10px;
  }

  .section__what 
  .main__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__why,
  .section__how {
    grid-template-columns: 315px 1fr;
  }
}
