/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--font-family);
  background-size: auto 768px;
  background-attachment: fixed;
  background: var(--background-image) no-repeat top center,
    var(--background-color);
  color: var(--main-text-color);
  --transition-duration: 0.25s;
  transition-duration: var(--transition-duration);
}

.header {
  padding: 0 20;
  position: relative;
}

@media (width>=768px) and (width>=375px) {
  .header {
    padding: 0 10px;
  }
}

.heander__decor {
  position: absolute;
  top: 21px;
  right: 49px;
  color: var(--decor-color);
  text-transform: uppercase;
}

@media (width<768px) and (width>=375px) {
  .heander__decor {
    top: 11px;
    right: 39px;
  }
}

.header__decor::after {
  content: '';
  width: 10px;
  height: 10px;
  margin: -5px -20px 0 0;
  top: 50%;
  right: 0;
  border-radius: 50%;
  position: absolute;
  background-color: var(--decor-color);
  box-shadow: 0 0 4px 2px var(--decor-color);
}

.header__theme-menu {
  padding-top: 20px;
}

@media (width<1024px) and (width>=768px) {
  .header__theme-menu {
    padding-top: 190px;
  }
}

@media (width<768px) and (width>=375px) {
  .header__theme-menu {
    padding-top: 75px;
  }
}

.header__theme-menu-list {
  display: flex;
  gap: 12px;
  justify-content: center;
}

@media (width<1024px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (width<768px) and (width>=375px) {
  .header__theme-menu-list {
    gap: 11px;
  }
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  padding: 2.5px 12px;
  border: transparent;
  background: none;
  line-height: 100%;
  color: var(--decor-corners-color);
  cursor: pointer;
  transition-duration: var(--transition-duration);
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__theme-menu-button:focus {
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decor-corners-color);
}

.header__theme-menu-button_active {
  border: 1px solid;
}

.heander__title-container {
  display: flex;
  gap: 75px;
  flex-direction: column;
  padding: 238px 0 136px;
}

@media (width<1024px) and (width>=768px) {
  .heander__title-container {
    gap: 133px;
    padding: 150px 0 183px;
  }
}

@media (width<768px) and (width>=375px) {
  .heander__title-container {
    gap: 55px;
    padding: 70px 0 75px;
  }
}

.header__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  font-weight: 700;
  margin-left: -2%;
  text-shadow: 4px 4px 0 var(--title-shadow);
  color: var(--title-color);
}

@media (width<1024px) and (width>=768px) {
  .header__title {
    margin-left: -3%;
  }
}

@media (width<1024px) and (width>=375px) {
  .header__title {
    text-shadow: 4px 4px 0 var(--title-decor);
  }
}

@media (width<768px) and (width>=375px) {
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-left: 0;
    line-height: 83%;
  }
}

.header__text {
  width: 50%;
  font-weight: 700;
  align-self: flex-end;
  color: var(--article-title-color);
}

@media(width<768px){
  .header__text {
    width: 100%;
  }
}

.main {
  display: flex;
  flex: 1 1 auto;
  gap: 80px;
  flex-direction: column;
  padding: 0 20px;
  margin: 60px 0;
}

@media (width<768px) and (width>=375px) {
  .main {
    gap: 50px;
    padding: 0 10px;
    margin: 34px 0;
  }
}

.gallery-section {
  line-height: 130%;
}

.section__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--section-title-color);
}

@media (width<1024px) and (width>=768px) {
  .section__title {
    width: 35%;
  }
}

@media (width<768px) and (width>=375px) {
  .section__title {
    width: 100%;
    margin-bottom: 20px;
  }
}

.section:nth-of-type(2) .section__title {
  width: 30%;
}

@media (width>=1024px) {
  .section:nth-of-type(2) .section__article-list {
    justify-content: space-between;
  }
}

@media (width<1024px) and (width>=375px) {
  .section:nth-of-type(2) .section__article-list {
    gap: 20px;
  }
}

.section:first-of-type,
.section:nth-of-type(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section:first-of-type .section__title,
.section:nth-of-type(3) .section__title {
  flex: 0 0 auto;
  width: 33%;
}

@media (width<1024) and (width>=768px) {
  .section:first-of-type .section__title .section:nth-of-type(3) .section__title {
    width: 32%;
  }
}

@media (width<768px) and (width>=375px) {
  .section:first-of-type .section__title 
  .section:nth-of-type(3) .section__title {
    width: 100%;
    margin-bottom: 20px;
  }
}

.section__article-list {
  display: flex;
  flex-wrap: wrap;
}

.section:first-of-type .section__article-list,
.section:nth-of-type(3) .section__article-list  {
  flex: 0 0 auto;
  gap: 20px;
  flex-direction: column;
  width: 66%;
}

@media (width<1024px) and (width>=768px) {
  .section:first-of-type .section__article-list,
  .section:nth-of-type(3) .section__article-list {
  width: 65%;
  }
}

@media (width<768px) and (width>=375px) {
  .section:first-of-type .section__article-list,
  .section:nth-of-type(3) .section__article-list {
    width: 100%;
  }
}

.section:last-of-type {
  display: grid;
}

.section:last-of-type .section__title {
  width: 100%;
  margin: 0;
  grid-column: 1/-1;
}

.section__article-item {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.section:nth-of-type(2) .section__article-item {
  flex: 0 0 auto;
  width: 32%;
}

@media (width<1024px) and (width>=375px) {
  .section:nth-of-type(2) .section__article-item {
    flex: 1 0 auto;
    width: 100%;
  }
}

.section__article-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
}

.section__link {
  border: transparent;
  text-shadow: 3px 3px 0 var(--link-shadow);
  transition-duration: var(--transition-duration);
}

.section__link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section__link:focus {
  outline: none;
}

.section__link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.section__article-list-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
}

.section__article-title_regular {
  font-weight: 400;
}

.title-dark {
  color: var(--article-title-color);
}

@media (width>=768px) {
  .section:last-of-type .card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media (width<768px) {
  .section:last-of-type .card {
    width: 100%;
    height: auto;
  }
}

.section:last-of-type {
  display: grid;
}

@media (width<768px) {
  .section:last-of-type .card {
    width: 100%;
    height: auto;
  }

  .section:last-of-type .card {
    width: 100px;
  }
}

@media (width>=768px) {
  .section:last-of-type .card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .section:last-of-type .card:first-of-type,
  .section:last-of-type .card:last-of-type {
    grid-column: span 2;
  }

  .section:last-of-type .card:nth-of-type(2),
  .section:last-of-type .card:nth-of-type(3) {
    grid-row: span 2;
  }
}

@media (width<768px) {
  .section:last-of-type {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}

.footer {
  padding: 282px 20px;
  text-align: center;
  position: relative;
}

@media (width<1024px) and (width>=768px) {
  .footer {
    padding: 434px 20px;
  }
}

@media (width<768px) and (width>=375px) {
  .footer {
    padding: 262px 10px;
    margin-top: 40px;
  }
}

.footer__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  text-shadow: 2px 2px 0 var(--title-shadow);
  color: var(--title-color);
}

@media (width<1024px) and (width>=768px){
  .footer__title {
    text-shadow: 2px 2px 0 var(--title-decor);
  }
}

@media (width<768px) and (width>=375px) {
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
