
/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--font-family);
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-color);
}

.header {
  position: relative;
  padding: 10px;
  height: 100vh;
  display: grid;
  min-height: 668px;
  margin-bottom: 40px;
  block-size: 100vh;
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }
}

.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  left: 10px;
  bottom: 10px;
  position: absolute;
  border-left: 1px solid var(--color-corner);
  border-bottom: 1px solid var(--color-corner);
  display: block;
}

@media (min-width: 768px) {
  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }
}

.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  position: absolute;
  border-top: 1px solid var(--color-corner);
  border-right: 1px solid var(--color-corner);
  display: block;
}

@media (min-width: 768px) {
  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }
}

.header__decor {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--accent-color);
  text-transform: uppercase;
  display: var(--decor);
  font-family: var(--font-family);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  padding-right: 27px;
}

.header__decor::after {
  content: "";
  width: 8px;
  height: 8px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  display: block;
}

@media (min-width: 768px) {
  .header__decor {
    top: 20px;
    right: 20px;
  }
}

.header__theme-menu-list {
  display: grid;
  gap: 12px;
  justify-content: end;
  margin-top: 65px;
  list-style: none;
}

@media (min-width: 768px) {
  .header__theme-menu-list {
    margin-top: 10%;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    grid-auto-flow: column;
    justify-content: center;
    margin: 0;
  }
}

.header__theme-menu-button {
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: 400;
  padding: 0px 13px;
  border: none;
  background-color: transparent;
  line-height: 18px;
  color: var(--button-text);
  cursor: pointer;
  font-family: var(--font-family);
  font-style: normal;
  outline: transparent;
  text-transform: lowercase;
  text-align: center;
  min-height: 26px;
  appearance: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.header_title {
  text-shadow: 4px 4px 0px var(--accent-color);
}

@media (min-width: 768px) {
  .header_title {
    margin-left: -20px;
  }
}

@media (min-width: 1024px) {
  .header_title {
    padding-top: 10%;
  }
}

.decorated-title {
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  font-style: normal;
  color: var(--title-color);
}

@media (min-width: 768px) {
  .decorated-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.subtitle {
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
}

@media (min-width: 768px) {
  .subtitle {
    max-width: 50%;
    justify-self: end;
  }
}

.main {
  display: grid;
  gap: 31px;
}

.main-list {
  list-style: none;
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .section {
    gap: 20px;
    grid-template-columns: 236px auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1024px) {
  .section {
    grid-template-columns: 315px auto;
  }
}

.section-title {
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: 700;
  margin-bottom: 19px;
  color: var(--button-text);
  font-family: var(--font-family);
  font-style: normal;
  line-height: 23.4px;
}

@media (min-width: 768px) {
  .section-title {
    max-width: 236px;
  }

  .section > .section-title {
    grid-row: span 2;
  }
}

@media (min-width: 1024px) {
  .section-title {
    max-width: 315px;
  }
}

.section-text {
  font-family: var(--font-family);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  padding-top: 10px;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; 
  color: var(--text-color);
}

.section-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-family: var(--font-family);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  color: var(--text-color);
  text-decoration: none;
}

.section-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section-link:focus {
  border: 1px solid var(--text-color);
  outline: none;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .content {
    grid-template-columns: 1fr;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
  }
}

.content__main-list {
  display: grid;
  list-style: none;
}

@media (min-width: 1024px) {
  .content__main-list {
    gap: 20px;
    grid-template-columns: repeat(3, minmax(315px, 1fr));
  }
}

.title-decor {
  font-family: var(--font-family);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: 700;
  background-color: var(--accent-color);
  color: var(--header-text-color);
  font-style: normal;
  line-height: 23.4px;
}

.title-accent {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .title-accent {
    margin-bottom: 0;
  }
}

.text-deckor {
  color: var(--header-text-color);
  background-color: var(--accent-color);
  font-family: var(--font-family);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;  
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-section {
  display: grid;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .gallery-section {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main__gallery {
  display: grid;
  gap: 5px;
  padding-top: 10px;
  list-style: none;
}

@media (min-width: 768px) {
  .main__gallery {
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 192px 230px 318px;
    padding-top: 20px;
    align-items: stretch;
    grid-template-areas:
    "sunset sunset ice-cream" 
    "tape books ice-cream" 
    "tape street street";
  }
  .main__gallery-item:nth-child(n + 1) {
    grid-area: sunset;
  }
  .main__gallery-item:nth-child(n + 2) {
    grid-area: ice-cream;
  }
  .main__gallery-item:nth-child(n + 3) {
    grid-area: tape;
  }
  .main__gallery-item:nth-child(n + 4) {
    grid-area: books;
  }
  .main__gallery-item:nth-child(n + 5) {
    grid-area: street;
  }
}

@media (min-width: 1024px) {
  .main__gallery {
    grid-template-rows: 268px 315px 428px;
  }
}

.card {
  display: block;
  height: 100%;
}

.footer {
  display: grid;
  position: relative;
  margin-top: 56px;
  padding: 10px;
  justify-content: center;
  block-size: 100vh;
  align-items: center;
  min-height: 668px;
}

@media (min-width: 768px) {
  .footer {
    min-height: 1024px;
    margin-top: 60px;
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .footer {
    min-height: 768px;
  }
}

.footer_title {
  text-shadow: 2px 2px 0px var(--accent-color);
}
